/* ---------------------------------
 *            Buttons
 * --------------------------------- */
.button
    transition: 200ms linear

    &.is-transparent
        color: inherit
        background: transparent
        border-color: transparent
